PORT=5000

MONGO_URI=mongodb+srv://nishantdangi5555_db_user:akkijaat@civiliancluster.kd3exvk.mongodb.net/civiclens_lite?retryWrites=true&w=majority&appName=CivilianCluster

JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
